@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
   --font-poppins: "Poppins", sans-serif;
}
html {
  font-family: var(--font-inter);
}
body {
  font-family: "Poppins", sans-serif;
}